.navbar{
  border-bottom: 0.5px solid black;
}
#input{
  width: 500px;
  height: 40px;
  border-radius: 10px;
}
.selection_panel{
  padding-top: 100px;
}
#brandname{
  font-family: "Oswald", sans-serif;
}
.response_links{
  font-size: 20px;
}
.delete_icon{
    font-size: 15px;
    color: red;
}
.list-group-item{
    font-size: 20px;
    color: black;
}
.budget_heading{
    text-align: center;
}
.expense_transaction{
    color: red !important;
}

.earning_transaction{
    color: green !important;;
}
.report_section_heading{
    font-size: 30px;
}
.category_delete_icon{
    margin-left: 15px;
}


