{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<div class="container budget_heading" >
        <h2>Categories</h2>
</div>
<div class="container" align="center">

    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
            <th class="text-center">Categories</th>
            <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        {% for category in object_list %}
              <tr>
                <td class="text-center">{{category.title}}
                </td>
                  <td class="text-center">
                    <a href="{% url 'budgets:delete_category' pk=category.id %}"><i class="bi bi-trash3"></i></a>
                </td>
              </tr>
	    {% endfor %}
    </tbody>
    </table>
        
    {% if user.is_authenticated %}
        <div id="budget_controls" class="container" align="center">
        <br><br>
        <a href="{% url 'budgets:add_category' %}" role="button" class="btn btn-outline-secondary w-80">Add Category</a>
        </div><br><br>
    {% endif %}
</div>
{% endblock %}
