{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container budget_heading" >
        <h2>My Rulesets</h2>
</div>
<div class="container" align="center">
    {% for ruleset in ruleset_list %}
    <h3>
        <a href="{% url 'budgets:single_ruleset' pk=ruleset.id %}">{{ ruleset.name }}</a>
    </h3>
    <hr>
	{% endfor %}
        
    {% if user.is_authenticated %}
        <div id="budget_controls" class="container" align="center">
        <br><br>
        <a href="{% url 'budgets:add_ruleset' %}" role="button" class="btn btn-outline-secondary w-80">Create Ruleset</a>
        </div><br><br>
    {% endif %}
</div>
{% endblock %}
